---
import PageLayout from "@/layouts/Base.astro";
import { siteConfig } from "@/site.config";

const meta = {
	description: "About Jonathan Strong",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>Ultra runner and student of information security.</p>
		<h2>Getting in touch</h2>
		<ul class="list-inside list-disc" role="list">
			<li>
				<a class="cactus-link inline-block" href="https://keybase.io/mrjonstrong" rel="noreferrer" target="_blank"
					>Keybase</a
				>
			</li>
			<li>
				<a class="cactus-link inline-block" href="https://bsky.app/profile/jonathanstrong.org" rel="noreferrer" target="_blank"
					>Bluesky</a
				>
			</li>
			<li>
				<a class="cactus-link inline-block" href="https://twitter.com/mrjonstrong" rel="noreferrer" target="_blank"
					>Twitter</a
				>
			</li>
			<li>
				<a class="cactus-link inline-block" href="https://github.com/mrjonstrong" rel="noreferrer" target="_blank"
					>GitHub</a
				>
			</li>
			<li>
				<a
					class="cactus-link inline-block"
					href={siteConfig.mastodon}
					rel="noreferrer me"
					target="_blank">Mastodon</a
				>
			</li>
		</ul>
	</div>
</PageLayout>
