---
import { Icon } from "astro-icon/components";
import { siteConfig } from "@/site.config";

/**
	Uses https://www.astroicon.dev/getting-started/
	Find icons via guide: https://www.astroicon.dev/guides/customization/#open-source-icon-sets
	Only installed pack is: @iconify-json/mdi
*/
const socialLinks: {
	friendlyName: string;
	isWebmention?: boolean;
	link: string;
	name: string;
}[] = [
	{
		friendlyName: "GitHub",
		link: "https://github.com/mrjonstrong",
		name: "mdi:github",
	},
	{
		friendlyName: "Mastodon",
		isWebmention: true,
		link: siteConfig.mastodon,
		name: "mdi:mastodon",
	},
	{
		friendlyName: "Twitter",
		link: "https://twitter.com/mrjonstrong",
		name: "mdi:twitter",
	},
	{
		friendlyName: "Keybase",
		link: "https://keybase.io/mrjonstrong",
		name: "mdi:key-variant",
	},
];
---

<div class="flex flex-wrap items-end gap-x-2">
	<p>Find me on</p>
	<ul class="flex flex-1 items-center gap-x-2 sm:flex-initial">
		{
			socialLinks.map(({ friendlyName, isWebmention, link, name }) => (
				<li class="flex">
					<a
						class="hover:text-link inline-block"
						href={link}
						rel={`noreferrer ${isWebmention ? "me" : ""}`}
						target="_blank"
					>
						<Icon aria-hidden="true" class="h-8 w-8" focusable="false" name={name} />
						<span class="sr-only">{friendlyName}</span>
					</a>
				</li>
			))
		}
	</ul>
</div>
